main{
  display: grid;
  place-items: center;
  height: 100vh;
  & button{
    cursor: url("https://www.svgrepo.com/show/391877/hand-up.svg"), auto;
    background-color: var(--color-button-primary);
    font-size: 6rem;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    border: 12px solid var(--color-button-secondary);
    color: var(--color-button-secondary);
  }
  & .icon_settings{
    position: absolute;
    top: 0;
    right: 0;
  }
  & .icon_info{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}