.section-option{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  inset: 0 ;
  display: grid;
  place-items: center;

  & article{
    user-select: none;
    position: relative;
    cursor: default;
    padding: 3rem;
    padding-top: 2rem;
    border-radius: 1rem;
    background-color: var(--color-button-secondary);
    color: var(--color-button-primary);
    animation: anima-modal .3s both ease-in-out ;
  }
  & .titleOptiones {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
  }
  & hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: var(--color-button-primary);
  }
  & .optionLanguage, .optionVolumen {
    display: flex;
    justify-content: center;
    align-items: center;
    & p, span{
      width: 25%;
      font-size: 2.2rem;
    }
    & span {
      text-align: center;
    }

  }
  & .subtitleOptiones{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  & .categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem 3rem;
    margin-bottom: 1.5rem;
    
    & label {
      display: flex;
      font-size: 2rem;
      justify-content: space-between;
      & input {
        margin-left: 2rem;
      }
    }
  }
  & .section-button{
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
  & .button-cancelar{
    cursor: pointer;
    font-size: 2rem;
    border: 4px solid var(--color-button-primary);
    background-color: var(--color-button-secondary);
    color: var(--color-button-primary);
    padding: 1rem;
    
  }
  & .button-aceptar{
    border: 4px solid var(--color-button-primary);
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--color-button-primary);
    color: var(--color-button-secondary);
    padding: 1rem;

  }
}
@keyframes anima-modal {
  0%{transform: scale(.5)}
  75%{transform: scale(1.1)}
  100%{transform: scale(1)}
}